<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyMapper">
    <insert id="createTag" parameterType="com.example.demo.model.persistence.Tag" useGeneratedKeys="true"
            keyProperty="id" keyColumn="tag_id">
        INSERT INTO tag(tag_description,userId,tag_create_at,tag_update_at)
        VALUES(#{description},#{userId},now(),now())
    </insert>
</mapper>